.board {
  display: grid;
  gap: 0.3rem;
  margin: 0 auto;
  width: 95%;
  max-width: 1600px;
}

.board-12,
.board-16 {
  grid-template-columns: repeat(4, 1fr);
}

.board-24 {
  grid-template-columns: repeat(6, 1fr);
}
