.card {
  position: relative;
  height: 20vh;
  border: 3px solid lightgray;
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card > img {
  width: 100%;
  height: 100%;
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.2s;
  transform: rotateY(90deg);
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.2s;
}

.completed {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.5);
}

.hidden {
  transform: rotateY(90deg);
}

.shown {
  transform: rotateY(0deg);
}
